* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #fffaf5;
    color: #333;
    transition: .3s;
}

.dark {
    background: #1f1b17;
    color: white;
}

/* NAVBAR */
.navbar {
    padding: 15px;
    background: #c29b6e;
    color: white;
    text-align: center;
}

.nav-actions {
    margin-top: 10px;
}

.nav-actions input,
.nav-actions select {
    padding: 8px;
    border-radius: 20px;
    border: none;
}

#darkModeBtn {
    padding: 8px 14px;
    margin-left: 5px;
    border: none;
    background: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

/* GRID PRODUK */
main {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    border-radius: 15px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s;
}

.dark .product-card {
    background: #3b342c;
    color: white;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* BUTTON */
.btn,
.buy-btn {
    background: #c29b6e;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover,
.buy-btn:hover {
    background: #a27f56;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 380px;
    border-radius: 12px;
}

.dark .modal-content {
    background: #3b342c;
    color: white;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.close,
.close2 {
    float: right;
    cursor: pointer;
    font-size: 22px;
}